@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 144deg 61% 20%;
		--primary-variant: 143deg 64% 24%;
		--secondary: 43deg 96% 56%;
		--light: 0deg 0% 98%;
		--dark: 240deg 6% 10%;
		--light-gray: 240deg 5% 84%;
		--dark-gray: 240deg 4% 46%;

		--light-fg: var(--dark);
		--light-fg-variant: var(--light-gray);

		--primary-fg: var(--light);
		--primary-fg-variant: var(--light-gray);

		--secondary-fg: var(--light);
		--secondary-fg-variant: var(--light-gray);

		--dark-fg: var(--light);
		--dark-fg-variant: var(--dark-gray);
	}

	body {
		@apply mt-[4.5rem] overflow-x-hidden scroll-smooth bg-light text-dark transition-all duration-300;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mb-3 font-semibold;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	p {
		@apply text-lg leading-7;
	}

	.link {
		@apply hover:text-primary hover:underline;
	}
}

@layer components {
	/* .wrapper {
		@apply mx-auto max-w-[60rem];
	}

	.wrapper-large {
		@apply mx-auto max-w-[70rem];
	} */

	.wrapper {
		@apply grid w-full grid-flow-row auto-rows-max grid-cols-[minmax(0,60rem)] justify-center px-[2.5vw];
	}

	.wrapper-large {
		@apply grid w-full grid-flow-row auto-rows-max grid-cols-[minmax(0,70rem)] justify-center px-[2.5vw];
	}

	.icon {
		width: 32px;
		height: 32px;
	}

	.splitter {
		@apply grid gap-10 md:grid-cols-2;
	}
}

@layer utilities {
	.focus-outline {
		@apply focus-within:outline focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-secondary;
	}
}
