@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 144deg 61% 20%;
		--primary-variant: 143deg 64% 24%;
		--secondary: 43deg 96% 56%;
		--light: 0deg 0% 98%;
		--dark: 240deg 6% 10%;
		--light-gray: 240deg 5% 84%;
		--dark-gray: 240deg 4% 46%;

		--light-fg: var(--dark);
		--light-fg-variant: var(--light-gray);

		--primary-fg: var(--light);
		--primary-fg-variant: var(--light-gray);

		--secondary-fg: var(--light);
		--secondary-fg-variant: var(--light-gray);

		--dark-fg: var(--light);
		--dark-fg-variant: var(--dark-gray);
	}

	body {
		@apply text-dark bg-light;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold mb-3;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	p {
		@apply leading-7 text-lg;
	}

	.link {
		@apply hover:text-primary hover:underline;
	}
}

@layer components {
	.wrapper {
		@apply mx-auto max-w-[60rem];
	}

	.icon {
		width: 32px;
		height: 32px;
	}

	.splitter {
		@apply wrapper grid grid-cols-2 gap-10;
	}
}

@layer utilities {
}
